In [1]:
library(Biostrings)

Loading required package: BiocGenerics
Loading required package: parallel

Attaching package: 'BiocGenerics'

The following objects are masked from 'package:parallel':

    clusterApply, clusterApplyLB, clusterCall, clusterEvalQ,
    clusterExport, clusterMap, parApply, parCapply, parLapply,
    parLapplyLB, parRapply, parSapply, parSapplyLB

The following objects are masked from 'package:stats':

    IQR, mad, sd, var, xtabs

The following objects are masked from 'package:base':

    anyDuplicated, append, as.data.frame, basename, cbind, colnames,
    dirname, do.call, duplicated, eval, evalq, Filter, Find, get, grep,
    grepl, intersect, is.unsorted, lapply, Map, mapply, match, mget,
    order, paste, pmax, pmax.int, pmin, pmin.int, Position, rank,
    rbind, Reduce, rownames, sapply, setdiff, sort, table, tapply,
    union, unique, unsplit, which, which.max, which.min

Loading required package: S4Vectors
Warning message:
"package 'S4Vectors' was built under R version 3.6.3"Loading required package: stats4

Attaching package: 'S4Vectors'

The following object is masked from 'package:base':

    expand.grid

Loading required package: IRanges
Warning message:
"package 'IRanges' was built under R version 3.6.2"
Attaching package: 'IRanges'

The following object is masked from 'package:grDevices':

    windows

Loading required package: XVector

Attaching package: 'Biostrings'

The following object is masked from 'package:base':

    strsplit

In [2]:
rs_1 <- readDNAStringSet("random-seq_1.fasta", format="fasta")

In [3]:
snf_rs_1 <- alphabetFrequency(rs_1)

In [4]:
snf_rs_1

     A  C  G  T  M R W S Y K V H D B N - + .
[1,] 13 12 15 10 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [5]:
tmp <- cbind(names(rs_1), snf_rs_1)

In [6]:
write.table(tmp, "snf_rs_1.txt", sep="\t", append=F, quote=F, row.names=F, col.names=T)

In [7]:
file.show("snf_rs_1.txt")

In [8]:
file.edit("snf_rs_1.txt")

In [9]:
snf_rs_1_tab <- read.table("snf_rs_1.txt")

In [10]:
snf_rs_1_tab

             A  C  G  T  M R W S Y K V H D B N X. X..1 .
random-seq_1 13 12 15 10 0 0 0 0 0 0 0 0 0 0 0 0  0    0

In [11]:
dnf_rs_1 <- dinucleotideFrequency(rs_1)

In [12]:
dnf_rs_1

     AA AC AG AT CA CC CG CT GA GC GG GT TA TC TG TT
[1,] 6  3  2  2  2  3  2  5  4  2  5  3  1  4  5  0

In [13]:
tmp <- cbind(names(rs_1), dnf_rs_1)

In [14]:
write.table(tmp, "dnf_rs_1.txt", sep="\t", append=F, quote=F, row.names=F, col.names=T)

In [15]:
tnf_rs_1 <- trinucleotideFrequency(rs_1)

In [16]:
tnf_rs_1

     AAA AAC AAG AAT ACA ACC ACG ACT AGA AGC ... TCG TCT TGA TGC TGG TGT TTA
[1,] 2   1   2   1   0   1   0   2   0   0   ... 0   1   0   0   2   2   0
     TTC TTG TTT
[1,] 0   0   0

In [17]:
tmp <- cbind(names(rs_1), tnf_rs_1)

In [18]:
write.table(tmp, "tnf_rs_1.txt", sep="\t", append=F, quote=F, row.names=F, col.names=T)

In [19]:
onf_rs_1 <- oligonucleotideFrequency(rs_1, width=4)

In [20]:
onf_rs_1

     AAAA AAAC AAAG AAAT AACA AACC AACG AACT AAGA AAGC ... TTCG TTCT TTGA TTGC
[1,] 1    0    1    0    0    1    0    0    0    0    ... 0    0    0    0
     TTGG TTGT TTTA TTTC TTTG TTTT
[1,] 0    0    0    0    0    0

In [21]:
tmp <- cbind(names(rs_1), onf_rs_1)

In [22]:
write.table(tmp, ”onf_rs_1.txt" sep="\t", append=F, quote=F, row.names=F, col.names=T)

ERROR: Error in parse(text = x, srcfile = src): <text>:1:18:  想定外の入力です
1: write.table(tmp, ―n                     ^